* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   font-family: sans-serif;
}

h1 {
   text-align: center;
   margin: 2rem;
}

ul {
   display: flex;
   flex-wrap: wrap;
   gap: 0.5rem;
}

li {
   padding: 0.5rem;
}

.container {
   max-width: 1200px;
   width: 65%;
   margin: auto;
}

.generating {
   display: flex;
   align-items: center;
   gap: 1rem;

   margin-bottom: 1rem;
}

.generated {
   margin-bottom: 1rem;
}

.alert {
   width: 100%;
   background-color: rgb(236, 137, 137);
   color: red;
   border-radius: 2rem;
   padding: 2rem;
   text-decoration: underline;
}